<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotent.service.dao.ServiceParamDao">
	<resultMap id="SysServiceParam" type="com.hotent.service.model.ServiceParam">
		<id property="id" column="id_" jdbcType="VARCHAR"/>
		<result property="setId" column="set_id_" jdbcType="VARCHAR"/>
		<result property="name" column="name_" jdbcType="VARCHAR"/>
		<result property="type" column="type_" jdbcType="VARCHAR"/>
		<result property="desc" column="desc_" jdbcType="VARCHAR"/>
	</resultMap>
	
	<delete id="removeBySetId">
	    DELETE FROM portal_service_param
	    WHERE
	    set_id_=#{setId}
	</delete>    
	
	<select id="getBySetId" resultMap="SysServiceParam">
	    SELECT *
	    FROM portal_service_param 
	    WHERE set_id_=#{setId}
	</select>
	
</mapper>