<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pharmcube.xxx.persistence.dao.UcUserDao">
	<resultMap id="UcUser" type="com.pharmcube.xxx.persistence.entity.UcUser">
		<id property="id" column="ID_" jdbcType="VARCHAR"/>
		<result property="account" column="ACCOUNT_" jdbcType="VARCHAR"/>
		<result property="address" column="ADDRESS_" jdbcType="VARCHAR"/>
		<result property="birthday" column="BIRTHDAY_" jdbcType="TIMESTAMP"/>
		<result property="createBy" column="CREATE_BY_" jdbcType="VARCHAR"/>
		<result property="createOrgId" column="CREATE_ORG_ID_" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP"/>
		<result property="education" column="EDUCATION_" jdbcType="VARCHAR"/>
		<result property="email" column="EMAIL_" jdbcType="VARCHAR"/>
		<result property="entryDate" column="ENTRY_DATE_" jdbcType="TIMESTAMP"/>
		<result property="from" column="FROM_" jdbcType="VARCHAR"/>
		<result property="fullname" column="FULLNAME_" jdbcType="VARCHAR"/>
		<result property="hasSyncToWx" column="HAS_SYNC_TO_WX_" jdbcType="NUMERIC"/>
		<result property="idCard" column="ID_CARD_" jdbcType="VARCHAR"/>
		<result property="isDele" column="IS_DELE_" jdbcType="VARCHAR"/>
		<result property="leaveDate" column="LEAVE_DATE_" jdbcType="TIMESTAMP"/>
		<result property="mobile" column="MOBILE_" jdbcType="VARCHAR"/>
		<result property="notifyType" column="NOTIFY_TYPE_" jdbcType="VARCHAR"/>
		<result property="password" column="PASSWORD_" jdbcType="VARCHAR"/>
		<result property="phone" column="PHONE_" jdbcType="VARCHAR"/>
		<result property="photo" column="PHOTO_" jdbcType="VARCHAR"/>
		<result property="pwdCreateTime" column="PWD_CREATE_TIME_" jdbcType="TIMESTAMP"/>
		<result property="sex" column="SEX_" jdbcType="VARCHAR"/>
		<result property="status" column="STATUS_" jdbcType="NUMERIC"/>
		<result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR"/>
		<result property="updateBy" column="UPDATE_BY_" jdbcType="VARCHAR"/>
		<result property="updateTime" column="UPDATE_TIME_" jdbcType="TIMESTAMP"/>
		<result property="userNumber" column="USER_NUMBER_" jdbcType="VARCHAR"/>
		<result property="version" column="VERSION_" jdbcType="NUMERIC"/>
		<result property="weixin" column="WEIXIN_" jdbcType="VARCHAR"/>
	</resultMap>


</mapper>