<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotent.i18n.persistence.dao.I18nMessageErrorDao">
	<resultMap id="I18nMessageError" type="com.hotent.i18n.persistence.model.I18nMessageError">
		<id property="id" column="ID_" jdbcType="VARCHAR"/>
		<result property="type" column="TYPE_" jdbcType="VARCHAR"/>
		<result property="key" column="KEY_" jdbcType="VARCHAR"/>
		<result property="count" column="COUNT_" jdbcType="NUMERIC"/>
        
	</resultMap>

</mapper>