<#import "function.ftl" as func>
<#assign comment=model.tabComment>
<#assign class=model.variables.class>
<#assign package=model.variables.package>
<#assign classVar=model.variables.classVar>
<#assign system=vars.system>
<#assign companyEn=vars.companyEn>
<#assign commonList=model.commonList>
<#assign pkModel=model.pkModel>
<#assign pk=func.getPk(model) >
<#assign pkVar=func.convertUnderLine(pk) >
<div class="white-bg animated fadeInRight" full-scroll ng-controller="${classVar}EditCtrl">
	<div class="row wrapper">
		<div class="ibox">
			<div class="ibox-title no-borders">
				<h5>{{title}}</h5>
				<div class="ibox-tools">		
					<a ng-click="close()"><i class="fa fa-times"></i></a>
				</div>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal" ng-submit="save()">
					<#list commonList as col>
                	<#assign colName=func.convertUnderLine(col.columnName)>
					<div class="form-group">								
						<label class="col-sm-2 control-label">${col.getComment()}:</label>
						<div class="col-sm-10">
							<span ng-bind="data.${colName}" ></span> 
						</div>
					</div>
					</#list>
				</form>
			</div>
		</div>
	</div>
</div>