<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<springProperty scope="context" name="appName" source="spring.application.name" defaultValue="x7plus" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p (%file:%line\)- %m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<appender name="syslog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/${appName}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/eiffel-${appName}.%d.%i.log</fileNamePattern>
			<maxHistory>3</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!--日志文件保留天数-->
			<maxHistory>15</maxHistory>
		</rollingPolicy>
	</appender>
	<!-- 控制台输出日志级别 -->

	<logger name="com.hotent" level="info" />
	<logger name="com.hotentplus" level="info" />
	<logger name="org.pharmcube" level="info" />


	<!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE -->
	<springProfile name="prod">
		<root level="ERROR">
			<appender-ref ref="syslog" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<!-- 开发环境时激活 -->
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="syslog" />
		</root>
	</springProfile>


</configuration>